@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style="background-color:#F4ECF7">
    <h2>How do I know if my baby's growth is where it should be? </h2>
    <p class="lead">It's always recommended to consult a pediatrician in regards to your baby's growth and
    development.  However, for a quick answer to where your baby falls in the national growth percentile, just 
    click the link below.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Weight Calculator &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Are you prepared?</h2>
        <p>
            You can never have too many diapers, wipes, or creams.  And just when you think you have enough clothes, 
            your baby will sprout into the next size up.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/search?q=baby+accessories&sxsrf=ALeKk01elkQ0KZ8zaTjoAB96mGMqn1kzWA:1595956205753&source=lnms&tbm=shop&sa=X&ved=2ahUKEwjE2uGVuPDqAhXCnOAKHcq6DUsQ_AUoAXoECA8QAw&biw=1280&bih=913" target="_blank">Shop now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Concerned About Your Baby's Growth?</h2>
        <p>All babies grow and develop at different rates.  While most babies just require love, nurturing and patience,
        there may be a few warning signs to watch for.</p>
        <p><a class="btn btn-default" href="https://www.eehealth.org/blog/2017/09/baby-growth-chart/" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find the perfect pediatrician for your child.</h2>
        <p>With so many doctors to choose from, it can be a overwhelming choice to make.  Search qualified 
        doctors in your area to help you make an informed decision.</p>
        <p><a class="btn btn-default" href="https://doctor.webmd.com/find-a-doctor/specialty/pediatrics" target="_blank">Search now &raquo;</a></p>
    </div>
</div>