@{
    ViewBag.Title = "Growth Calculator";
}

    <div>
        <h1>Growth Calculator</h1>
        <h2>How do I know if my baby's growth is where it should be? </h2>
        <h3>Just enter your baby's weight, length and sex below to determine where your baby falls the 
        national growth percentile.</h3>
        <p>Enter your baby's weight in lbs.</p>
        <form>
            <input type="text" />
        </form>
        <p>Enter your baby's length in inches.</p>
        <form>
            <input type="text" />
        </form>
        <p>Select your baby's gender</p>
        <form>
            <input type="radio" id="male" name="gender" value="male" />
            <label for="male">Male</label><br /> 
            <input type="radio" id="female" name="gender" value="female" />
            <label for="female">Female</label><br />



        </form>
    </div>