@{
    ViewBag.Title = "Growth Calculator";
}

<div>
    <h1>Growth Calculator</h1>
    <h2>How do I know if my baby's growth is where it should be? </h2>
    <h3>
        Just enter your baby's weight, length, age and sex below to determine where your baby falls in
        the national growth percentile.
    </h3>
    <div>
        <label for="weight">Enter your baby's weight.</label>
        <form id="weight" name="weight">
            <label for="lbs">lbs</label>
            <input type="number" id="lbs" name="lbs" />
            <label for="ounces">oz</label>
            <input type="number" id="ounces" name="ounces" /><br />
        </form><br />
        <form>
            <label for="length">Enter your baby's length in inches.</label>
            <input type="number" id="length" name="length" /><br />
        </form><br />
        <form>
            <label for="age">Enter your baby's age in months.</label>
            <input type="number" id="age" name="age" /><br />
        </form><br />
        <label fo="gender">Select your baby's gender.</label>
        <form id="gender" name="gender">
            <input type="radio" id="male" name="gender" value="male" />
            <label for="male">Male</label><br />
            <input type="radio" id="female" name="gender" value="female" />
            <label for="female">Female</label><br />
        </form><br />
        <button class="btn btn-default" onclick="calc()">Calculate growth percentile &raquo;</button>
    </div>
</div>
